*{padding:0;
margin:0;}

body{
  width:100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
}

li{
  list-style: none;
}
a{
  text-decoration: none;
  color:#222;
}

.inner{
  max-width:1200px;
  height:100%;
  margin:0 auto;
}

.clearfix:after{
  content: '';
  display: block;
  clear: both;
}