h/* 
* #header
*/
#header {
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  z-index:999;
}

#header .header_wrap {
  height: auto;
  padding: 25px 50px 40px;
  background: #fff;
  box-shadow: 1px 0px 3px 0px #444;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#header .logo {
position: absolute;
top:25px;
left: 50px;
width: 150px;
height:50px;
transition: all 1s;
}

#header .logo img {
  width: 100%;
  height: 100%;
}

/* header ul(=.gnb) li */
#header .gnb{
  padding-top:15px;
}
#header .gnb>li {
  float: left;
  margin-right: 15px;
  width: 140px;
  position: relative;
}
#header .gnb li>a{
  font-weight: bold;
}
#header .gnb li>a span{
  transform: translateX(50%);
}
#header .gnb ul{
  padding-top:35px;
}
#header .gnb ul li{
  line-height: 35px;
}
#header .gnb ul li a{
  font-size: 14px;
}

/* header ul(=.util) */
#header .util {
  position: absolute;
  top:25px;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

}

#header .util li {
  margin-right: 0.5rem;
}

#header .util button {
  padding: 8px 20px;
  border-radius: 50px;
  color: #fff;
  border: none;
  background: #263070;
  cursor: pointer;
  font-weight: bold;
}

/* section main_banner */
#main_banner{
  padding-top:95px;
}

/* section current */
#current .inner>h2{
  text-align: center;
  font-size: 2.5rem;
  padding:50px 0;
}
#current .inner .current_wrap{
  padding:0 50px;
}
#current .inner .current_wrap .card{
  position: relative;
  display: flex;
  margin-bottom:150px;
}

#current .inner .current_wrap .card .card_img{
  width:60%;
  box-shadow: 0px 0px 5px 0px #444;
}
#current .inner .current_wrap .card .card_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#current .inner .current_wrap .card .card_text{
  width: 40%;
  height: 70%;
  position: absolute;
  right: 0%;
  bottom:-20%;
  padding:20px 30px 0;
  background: #fff;
  box-shadow: -1px 1px 5px 0px #555;
}
#current .inner .current_wrap .card .card_text h2{
  margin-bottom:1rem;
}
#current .inner .current_wrap .card .card_text p{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

/* youtube hotclip */
#hotclip{
  background: #f9f9f9;
  padding-bottom:50px;
}
#hotclip .inner>h2{
  text-align: center;
  font-size: 2.5rem;
  padding:50px 0;
}

/* section #library */
#library {
  width: 100%;
  height: 200px;
  display: flex;
}
#library .lib {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

#library .lib a {
  position: absolute;
  width: 100%;
  height: 100%;
}

#library .lib .lib_text span {
  color: #3c7cfa;
  font-size: 0.8rem;
  font-weight: bold;
}

#library .lib .lib_text p {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 1rem 0 0.5rem 0;
}

#library .lib .lib_text h4 {
  font-size: 1.5rem;
}

#library .lib_1 {
  background: #dff0ff;
  justify-content: flex-end;
  padding-right:90px;
}

#library .lib_2 {
  background: #ddffec;
  justify-content: flex-start;
  padding-left:90px;
}

/* section popular 인기기사 */
#popular {
  background: #f9f9f9;
  padding: 60px 0;
}

#popular .inner>h2 {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 60px;
}

#popular .inner .p_wrap {
  position: relative;
}

#popular .sw3_text {
  height: auto;
  max-height: 199px;
  background: #ffffff;
  padding: 30px 32px 40px;
  text-align: left;
}
#popular .sw3_text h3{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 2rem;
  margin-bottom:1rem;
}
#popular .sw3_text p {
  font-size: 1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  line-height: 1.5rem;
}


/* section series */
#series {
  padding: 60px 0;
}
#series .inner .series_title{
  padding-bottom:50px;
  text-align: center;
}
#series .inner .series_title h2 {
  font-size: 2rem;
  padding-bottom: 30px;
}
#series .inner .series_title p{
  font-size: 20px;
  font-weight: bold;
}
#series .inner .s_wrap {
  position: relative;
  height:100%;
  width:100%;
}


/* section subscribe */

#subscribe{
  padding:0 0 100px;
}
#subscribe .sub_banner{
  height:169px;
  width:100%;
  border-radius: 20px;
  background: url("../assets/img/newsletter_bg.svg") no-repeat;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 0px 3px 0px #444;
}
#subscribe .sub_banner .sub_text{
  display: flex;
  align-items: center;
}
#subscribe .sub_banner .sub_text img{
  object-fit: cover;
  margin-right:50px;
}
#subscribe .sub_banner .sub_text li{
  line-height: 30px;
  font-weight: bold;
}
#subscribe .sub_banner .sub_text li:nth-child(2){
  margin-top:1rem;
}

#subscribe .sub_banner button {
  background: #263070;
  border-radius: 50px;
  color:#fff;
  font-size: 1rem;
  font-weight: bold;
  padding:15px 20px;
  cursor: pointer;
}

/* footer */
#footer * {
  color:#fff;
}
#footer {
  background: #1D1D1D;
  height:auto;
  padding:75px 0;
}
#footer .inner {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#footer .ft_nav ul li {
  float:left;
}
#footer .ft_nav .info{
  padding: 8px 0 30px 0;
}
#footer .ft_nav .info li{
  margin-right:30px;
}
#footer .ft_nav .sns li{
  margin-right:1rem;
}
#footer .ft_info {
  line-height: 30px;
  letter-spacing: 1px;
}
#footer .ft_info p{
  color:#8E8E8E;
}

.topBtn{
  position: fixed;
  width: 50px;
  height: 50px;
  right: 50px;
  bottom:15%;
  background: #fff;
  border:1px solid #222;
  text-align: center;
  cursor: pointer;
}
.topBtn i{
  line-height: 50px;
  font-size: 2rem;
}

/* tech.html */
.banner{
  background-image:url(../assets/img/subBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  text-align: center;
  height:200px;
}
.banner h2{
  line-height: 200px;
  font-size: 2rem;
  color:#fff;
}

/* technic menu */
#technic{
  padding:50px 0;
}
#technic .inner{
  max-width: 1300px;
}
#technic .inner>ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
#technic .inner>ul li{
  width:125px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50px;
  background: #f6f6f6;
  margin-right:1.5rem;
  position: relative;
  cursor: pointer;
}
#technic .inner>ul li a{
  position: absolute;
  font-weight: bold;
  width: 100%;
  height: 100%;
  left: 0;
}

#technic .inner>ul li.on{
  background: #829bfa;
  color: #fff;
}

/* item design */
#technic .item_container{
  padding-top:50px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
#technic .item_container .item{
  height:400px;
  max-width:380px;
  border-radius: 15px;
  box-shadow: 0px 1px 5px 0px #8E8E8E;
  margin:0 20px 20px 0;
}

#technic .item_container .item img{
  width: 100%;
  height: 240px;
  border-radius: 15px 15px 0 0;

}
#technic .item_container .tag_list{
  display: flex;
  margin: 1rem 0 1rem 30px;
}
#technic .item_container .tag_list .tag{
  margin-right:1rem;
  color: #263070;
  font-weight: bold;
  font-size: 14px;
}
#technic .item_container .item h3{
  padding:0 30px;
}

/* corp.html (corporation) */
#corp h1,
#corp p{
  text-align: center;
}
#corp .area{
  padding:80px 0;
}
#corp .area_1 p{
  padding:30px 0 60px;
}
#corp .area_1 iframe {
  width: 100%;
  height:440px;
}

#corp .area_2 {
  position: relative;
  max-height: 1200px;
}
#corp .area_2 h1{
  padding-bottom:60px;
}
#corp .area_2 .video_wrap{
  width:100%;
  max-height: 700px;
  overflow: hidden;
  position: relative;
}
#corp .area_2 .video_wrap video{
  width: 100%;
  height: auto;
}
#corp .area_2 .video_wrap h3{
  position: absolute;
  color:#fff;
  font-size: 3rem;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
}

#corp .area_2 .area_2_box{
  display: flex;
  width: 50vw;
  height: auto;
  margin:0 auto;
  color:#fff;
  position: absolute;
  top:calc(50%);
  left: calc(50% - 25vw);
}

#corp .area_2 .area_2_box>div{
  width:50%;
  padding:8vh 50px 4vh; 
}

#corp .area_2 .area_2_box .box_text_1{
  background: #232323;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5% 0 0 5%;
}
#corp .area_2 .area_2_box .box_text_1 p{
  text-align: left;
  line-height:1rem;
  margin-bottom:50px;
  font-weight: 500;
  font-size: 12px;
}
#corp .area_2 .area_2_box .box_text_2{
  background: #161616;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 5% 5% 0;
}

#corp .area_2 .area_2_box .box_text_2 div{
  color:#8E8E8E;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:0 50px 20px;
  margin-bottom:50px;
  position: relative;
  border-bottom:2px solid #8E8E8E;
}

#corp .area_2 .area_2_box .box_text_2 div img{
  height:85px;
}
#corp .area_2 .area_2_box .box_text_2 div span{
  font-size: 4rem;
  font-weight: bold;
  color:#fff;
  margin:0 2rem;
}

#corp .area_3 {
  padding-top:180px;
}
#corp .area_3>h1{
  padding-bottom:50px;
}
#corp .area_3 .inner{
  width:50vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
#corp .area_3 .gallery1{
  margin-bottom:40px;
}
#corp .area_3 .inner .case{
  width:24%;
  height: 240px;
  margin:0 0.5rem 1rem 0;
  color: #fff;
}
#corp .area_3 .inner .case.big{
  width:49%;
  background: #222;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#corp .area_3 .inner .case.big h1{
  margin-bottom:1rem;
}
#corp .area_3 .inner .case.case_1{
  background-image: url(../assets/img/case/case-01.png);
  background-repeat:no-repeat;
  background-size: cover;
  border-radius: 25px;
}
#corp .area_3 .inner .case.case_2{
  background-image: url(../assets/img/case/case-02.png);
  background-repeat:no-repeat;
  background-size: cover;
  border-radius: 25px;
}
#corp .area_3 .inner .case.case_3{
  background-image: url(../assets/img/case/case-03.png);
  background-repeat:no-repeat;
  background-size: cover;
  border-radius: 25px;
}
#corp .area_3 .inner .case.case_4{
  background-image: url(../assets/img/case/case-04.png);
  background-repeat:no-repeat;
  background-size: cover;
  border-radius: 25px;
}
#corp .area_3 .inner .case.case_5{
  background-image: url(../assets/img/case/case-05.png);
  background-repeat:no-repeat;
  background-size: cover;
  border-radius: 25px;
}
#corp .area_3 .inner .case.case_6{
  background-image: url(../assets/img/case/case-06.png);
  background-repeat:no-repeat;
  background-size: cover;
  border-radius: 25px;
}
#corp .area_3 .inner .case.case_7{
  background-image: url(../assets/img/case/case-07.png);
  background-repeat:no-repeat;
  background-size: cover;
  border-radius: 25px;
}
#corp .area_3 .inner .case.case_8{
  background-image: url(../assets/img/case/case-08.png);
  background-repeat:no-repeat;
  background-size: cover;
  border-radius: 25px;
}

#corp .area_4 {
  padding-top:0;
}
#corp .area_4 .area_4_text{
  padding-bottom:60px;
  line-height: 30px;
}
#corp .area_4 .mapping{
  position: relative;
}
#corp .area_4 .mapping .map_btn{
  color:#fff;
  position: absolute;
  bottom:0;
  width:50vw;
  left: calc(50% - 25vw);
}
#corp .area_4 .mapping .map_btn ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
#corp .area_4 .mapping .map_btn ul li{
  width:150px;
}
#corp .area_4 .map_img img{
  display: none;
}
#corp .area_4 .map_img img.active{
  display: block;
}

/* swiepr */
#corp .area_5 .inner{
  max-width:999px;
}
#corp .area_5 .area_5_text{
  padding-bottom:50px;
}
#corp .area_5 .inner .swiper{
  padding:0 50px;
}
#corp .area_5 .swiper-slide{
  height:237px;
  border:1px solid #222;
  margin-right:0;

}
#corp .area_5 .swiper-slide .sw_img{
  height:80%;
}
#corp .area_5 .swiper-slide .sw5_txt{
  color:#fff;
  background: #222;
  height: 20%;
}
#corp .area_5 .swiper-button-next,
#corp .area_5 .swiper-button-prev{
  color: black;
  width: 50px;
  height:50px;
  border-radius: 50%;
  border:1px solid #222;
  background: rgba(255, 255, 255, 1);
}
#corp .area_5 .swiper-button-next:after,
#corp .area_5 .swiper-button-prev:after{
  font-size: 1.5rem;
}
#corp .area_5 .swiper-button-next:disabled,
#corp .area_5 .swiper-button-prev:disabled{
  background: rgba(255, 255, 255, 0.5);
}